.hotelslist {
    margin: 100px;
    align-content: center;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;

    display: grid;
    justify-items: center;
    align-items: center;
}