.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* IDEA: pomysł, żeby tło zamiast białego było zdjęciem */

/* .bgimage{
    background-image: url(../../assets/img/bg.jpg);
}

.bgoverlay{
    background-color: rgba(0, 0, 0, .6);
} */
